<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Daily News</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="News Blog" name="keywords">
    <meta content="Your every day news website." name="description">

    <!-- Favicon -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    {{!-- Toastr CSS file --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">

</head>

<body>
   {{!-- //preloader --}}
   <div class="preloader">
        <span class="loader"></span>
   </div>


    <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-n2">
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small">{{generateDate date "MMMM Do YYYY"}}</a>
                        </li>
                        {{!-- <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Advertise</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Contact</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="/login">Login</a>
                        </li>
                        --}}
                        <li class="nav-item">
                            <a class="nav-link text-body small" href="/admin">Admin</a>
                        </li> 
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-auto mr-n2">
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-twitter"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-facebook-f"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-linkedin-in"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-instagram"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-google-plus-g"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-youtube"></small></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row align-items-center bg-white py-3 px-lg-2">
            <div class="col-lg-6">
                <a href="/" class="navbar-brand p-0 d-none d-lg-block">
                    {{!-- <h1 class="m-0 display-4 text-uppercase text-primary">Daily<span class="text-secondary font-weight-normal">News</span></h1> --}}
                    <img width="400" height="70" src="/img/Dailynews_logo.png" alt="">
                </a>
            </div>
           
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    {{> home/home-nav}}
    <!-- Navbar End -->

    
    {{!-- FLASH MESSAGE --}}
    {{> home/form-mgs}}

    {{{body}}}


    <!-- Footer Start -->
    {{> home/footer}}
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    {{!-- Jquery File --}}
    <script src="/js/Jquery/jquery-3.6.4.js"></script>

    {{!-- Toastr JS file --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {{!-- Comment reply js --}}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const replyButtons = document.querySelectorAll('.reply-button');

            replyButtons.forEach(replyButton => {
                replyButton.addEventListener('click', () => {
                    const commentId = replyButton.getAttribute('data-comment-id');
                    const replyForm = document.querySelector(`.reply-form[data-comment-id="${commentId}"]`);

                    if (replyForm) {
                        if (replyForm.style.display === 'block') {
                            replyForm.style.display = 'none';
                        } else {
                            replyForm.style.display = 'block';
                            const replyInput = replyForm.querySelector('input[name="reply-body"]');
                            replyInput.focus();
                        }
                    }
                });
            });
        });
    </script>

    <script>
        // JavaScript to hide the preloader with a delay
        window.addEventListener('load', () => {
            // Delay in milliseconds (2 seconds)
            const delay = 900;
            // Select the preloader element
            const preloader = document.querySelector('.preloader');
            // Hide the preloader after the delay
            setTimeout(() => {
                preloader.style.display = 'none';
            }, delay);
        });
    </script>


    {{!-- COMMENT BUTTON --}}
    <script>
        $(document).ready(function() {
            // Disable the Submit button on page load
            $('#comment-btn')
                .prop('disabled', true)
                .css({
                    opacity: 0.7,           // Reduce opacity
                    cursor: 'not-allowed',  // Change cursor style
                })
                .addClass('hover-fade');   // Apply hover fade effect
            $('#email').on('input', function() {
                // Check if the entered email address is valid
                if (isValidEmail($(this).val())) {
                    $('#comment-btn')
                        .prop('disabled', false)
                        .css({
                            opacity: 1,              // Restore opacity
                            cursor: 'pointer'     // Change cursor style
                        })
                        .removeClass('hover-fade'); // Remove hover fade effect
                } else {
                    $('#comment-btn')
                        .prop('disabled', true)
                        .css({
                            opacity: 0.7,           // Reduce opacity
                            cursor: 'not-allowed',   // Change cursor style
                    })
                    .addClass('hover-fade');   // Apply hover fade effect
                }
            });

            // Function to validate email address
            function isValidEmail(email) {
                // For simplicity, I'm using a basic check
                return /\S+@\S+\.\S+/.test(email);
            }
        });
    </script>

    
</body>

</html>