<div class="row">
    <h1>{{comments.name}}'s Comment</h1>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body"> 
                <div class="form-group">
                    <label for="name" class="mt-3 mb-2 fw-bold">The Comment: </label>
                    <p style="font-size: larger;">{{comments.body}}</p>
                </div>
                <button class="btn btn-primary mt-3 "><i class="bi bi-arrow-90deg-left"></i> <a href="/admin/comments" style="color:#fff;">Back To Comments</a> </button>
            </div>
        </div>
    </div>
    <br>
    <hr>
</div>